@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

* {
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgb(220, 161, 94);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #282828;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgb(220, 161, 94);
}

.link {
  color: #030303 !important;
}

.link:hover {
  text-decoration: underline !important;
}

.content {
  flex: 1;
}

.red-button {
  background-color: #fb0000 !important;
  color: white !important;
  border-color: transparent !important;
}

.red-button:hover {
  color: #fb0000 !important;
  background-color: white !important;
}

@media screen and (max-width: 768px), print {
  .button.is-fullwidth-mobile {
    display: flex;
    width: 100%;
  }
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.is-borderless:focus {
  border-color: hsl(221, 14%, calc(86% + 0%)) !important;
}

.btn-blue {
  background: url(../assets/images/layout/pattern-1.png) top center no-repeat !important;
  background-color: #45859a !important;
  color: white !important;
  border: 1px solid black !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-blue:hover {
  background-color: #31b0d5 !important;
}

.btn-green {
  background: url(../assets/images/layout/pattern-1.png) top center no-repeat !important;
  background-color: #488949 !important;
  color: white !important;
  border: 1px solid black !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-green:hover {
  background-color: #42b142 !important;
}

.btn-gray {
  background: url(../assets/images/layout/pattern-1.png) top center no-repeat !important;
  background-color: #7a8288 !important;
  color: white !important;
  border: 1px solid black !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-gray:hover {
  background-color: #62686d !important;
}

.wrapper {
  background-image: url(../assets/images/layout/top.png), url(../assets/images/layout/bottom.png),
    url(../assets/images/layout/middle.jpg);
  background-position:
    center top,
    center bottom,
    center top;
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-size: 100%, 100%, 100%;
  border-radius: 5px;
  border: 3px solid #c07617;
}

.wrapper-header {
  border-bottom: 3px solid #c07617;
  background: url(../assets/images/layout/back.jpg) center repeat;
  color: #222;
  text-align: center;
  padding: 0.4rem 1rem;
}

.wrapper-body {
  padding: 1rem;
  color: #222;
}

.custom-link {
  color: #222 !important;
}

.custom-link:hover {
  text-decoration: underline !important;
}

.v-popper--theme-tooltip .v-popper__inner {
  background-image: url(../assets/images/layout/top.png), url(../assets/images/layout/bottom.png),
    url(../assets/images/layout/middle.jpg) !important;
  background-position:
    center top,
    center bottom,
    center top;
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-size: 100%, 100%, 100%;
  border-radius: 5px;
  border: 3px solid #c07617;
  color: #222 !important;
  padding: 24px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.v-popper--theme-tooltip .v-popper__arrow-inner {
  visibility: visible;
  border-color: #c07617;
  color: #c07617;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: #c07617;
}
